.board-nav-bar-container {
    color: rgba(240, 248, 255, 0.9);
    height: 3rem;
    padding: .5rem 1rem;
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(23, 43, 38, 0.8) 0%, rgba(254, 254, 254, 0.123) 100%);
    .nav-bar-logo{
        font-size: 1.5rem;
        padding-right: 1rem;
        border-right: 1px solid  rgba(240, 248, 255, 0.9);
    }
    .search-icon{
        font-size: 1.5rem;
        margin-right:1rem;
        cursor: pointer; 
        &:hover{
            color: rgba(240, 248, 255, 1);
        }
    }
    img {
        height: 1.5rem;
    }
    input {
        padding: 0.5rem;
        height: 2rem;
        border-style: none;
    }
}

.open-menu-btn {
    border: 1px solid rgba(240, 248, 255, 0.9);
    border-radius: 0.3rem;
    padding: 0.4rem .8rem;
    &:hover{
        border: 1px solid rgba(240, 248, 255, 1);
        font-weight: 900;
        cursor: pointer;
    }
}

.dropDown {
    width: 15rem;
    min-height: 5rem;
    background-color: rgb(218, 218, 218);
    position: absolute;
    top: 5.5rem;
    left: 0.5rem;
    z-index: 10000;
    .board-li {
        text-align: center;
        margin: 0.5rem;
        padding: 0.5rem;
        background-color: rgb(255, 255, 255);
        border-radius: 3px;
        &:hover {
            cursor: pointer;
            background-color: rgb(240, 240, 240);
        }
    }
}

.board-menu-section{
    .board-search{
        input{
            margin: 0rem 1rem;
        }
        position: relative;
        .search-modal{
            overflow: scroll;
            position: absolute;
            top: 2.5rem;
            right: 1rem;
            height: 10rem;
            width: 25rem;
            padding: 1rem;
            background-color: rgb(247, 247, 247);
            border-radius: 0.3rem;
            z-index: 100;
            h3{
                margin: 1rem;
                color: black;
            }
        }
    }
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .4s;
}

.fade-enter,.fade-leave-to{opacity: 0;}

.slide-fade-enter-active {
    transition: all .3s ease;
}

.slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to {
    transform: translateX(1000px);
    opacity: 0;
}

.user-on-board {
    border: 1px solid rgba(240, 248, 255, 0.9);
    border-radius: 4px;
    padding: 5px;
    margin-left: 1rem;
}