.board-nav-bar-container{
    height: 3rem;
    background-color: rgb(228, 228, 228);
    .nav-bar-logo{
        margin: 0rem 0.5rem;
        &:hover{
            cursor: pointer;
        }
    }
    .search-icon-container{
        margin: 0;
        height: 2rem;
        width: 2rem;
        background-color: #9FACE6;
        padding: 0.4rem;
    }
    img{
        height: 1.5rem;
    }
    input{
        padding: 0.5rem;
        height: 2rem;
        border-style: none;
    }
}

.open-menu-btn{
    margin-right: 0.4rem;
    color: rgb(224, 224, 224);
    border: 2px solid rgb(224, 224, 224);
    border-radius: 0.3rem;
    padding: 0.3rem;
    &:hover{
        color: rgb(197, 197, 197);
        cursor: pointer;
    }
}

.dropDown{
    width: 15rem;
    min-height: 5rem;
    background-color: rgb(218, 218, 218);
    position: absolute;
    top:5.5rem;
    left: 0.5rem;
    z-index: 100;

    .board-li{
        text-align: center;
        margin: 0.5rem;
        padding: 0.5rem;
        background-color: rgb(255, 255, 255);
        border-radius: 3px;
        &:hover{
            cursor: pointer;
            background-color: rgb(240, 240, 240);
        }
    }
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .4s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

  .slide-fade-enter-active {
    transition: all .3s ease ;
  }
  .slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(1000px);
    opacity: 0;
  }



