.main-nav-bar-container {
    height: 3rem;
    padding: .5rem 1rem;
    background: rgba(23, 43, 38, 0.85);
    .links>*:not(.avatar) {
        font-weight: 900;
        margin-left: 1rem;
        color: hsla(208, 100%, 97%, 0.9);
        &:hover {
            transition: all .3s ease-in-out;
            border-bottom: 1px rgba(248, 248, 248, 0.774) solid;
            font-weight: 700;
        }
    }
    .avatar {
        margin-left: 10px;
    }
    .logo {
        width: 2.4em;
        height: 2.7em;
        cursor: pointer;
      }
      @include for-mobile-layout{
          .home-link,.about-link{
              display:none;
          }
      }
}

.user-image {
    width: 100px;
    height: 100px;
}