.main-nav-bar-container{
    height: 3rem;
    padding: .5rem 1rem;
    background: rgba(161, 214, 203, 0.596);

    .nav-bar-logot{
        &:hover{cursor: pointer;}
    }
    .links > *{
        margin-left: 1rem;
        &:hover{
            border-bottom:1px white solid;
            font-weight: 700;
        }
    }
    
}






