.main-nav-bar-container{
    height: 3rem;
    padding: .5rem 1rem;
    background: rgba(23, 43, 38, 0.8);
    &:hover{
        transition: all .3s ease-in-out;
        background: rgba(23, 43, 38, 0.9);
    }
    .nav-bar-logot{
        &:hover{cursor: pointer;}
    }
    .links > *{
        font-weight: 900;
        margin-left: 1rem;
        color: hsla(208, 100%, 97%, 0.9);
        &:hover{
            transition: all .3s ease-in-out;
            border-bottom:1px rgba(248, 248, 248, 0.774) solid;
            font-weight: 700;
        }
    }
    
}



