.side-menu{
  position: absolute;
  top: 3rem;
  right: 0rem;
  width: 20rem;
  height: 35rem;
  background-color: azure;
  z-index: 1;

    .side-menu-header{
      color: rgb(155, 155, 155);
      margin: 0;
      text-align: center;
      border-bottom:1px black solid;
      padding-bottom: 0.5rem;
    }
    .remove-btn{
      margin: 0.5rem;
    }
    &:hover{
      cursor: pointer;
    }

    .board-description{
      h3{
        text-align: center;
      }
      textarea{
        padding: 0.5rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        outline: none;
        resize: none;

      }
    }
}