.topic-tasks {
    margin-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 .5rem;
    padding: 0 .3rem;
    min-height: 0;
}

.task {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
    cursor: pointer;
    display: block;
    margin-bottom: .5rem;
    max-width: 18rem;
    min-height: 1.5rem;
    text-decoration: none;
    &:hover {
        cursor: pointer;
        font-weight: 900;
        // box-shadow: -3.5px 0px 0px rgba(44, 44, 35, 0.5), 0 1px 0 rgba(9, 30, 66, .25);
    }
}

.task-drag {
    transition: transform 0.3s ease;
    transform: rotateZ(12deg)
}

.task-drop {
    transition: transform 0.3s ease-in-out;
    transform: rotateZ(0deg)
}

// .task-long-click {
//     background-color: red;
// }
.task-preview {
    overflow: hidden;
    padding: 6px 8px 2px;
}

.task-title {
    display: block;
    margin: 0 0 .5rem;
    overflow: hidden;
    text-decoration: none;
    word-wrap: break-word;
    color: #172b4d;
}

.tag-preview {
    height: .5rem;
    width: 1.5rem;
    border-radius: 3px;
    margin-right: 4px;
    &.blue-tag {
        background-color: $clrTag1;
    }
    &.pink-tag {
        background-color: $clrTag2;
    }
    &.yellow-tag {
        background-color: $clrTag3;
    }
    &.green-tag {
        background-color: $clrTag4;
    }
    &.red-tag {
        background-color: $clrTag5;
    }
}

.members {
    justify-content: flex-end;
}

.member-preview {
    cursor: pointer;
    height: 2rem;
    margin-left: 4px;
}

.task-preview-image {
    width: 200px;
}