.topic-tasks {
    // flex: 1 1 auto;
    margin-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 .5rem;
    padding: 0 .5rem;
    z-index: 1;
    min-height: 0;
}

.task {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
    cursor: pointer;
    display: block;
    margin-bottom: .5rem;
    max-width: 18rem;
    min-height: 1.5rem;
    position: relative;
    text-decoration: none;
    z-index: 0;
    &:hover {
        cursor: pointer;
        // background-color: rgb(235, 235, 235);
        font-weight: 900;
        box-shadow: -3.5px 0px 0px  rgba(44, 44, 35, 0.733),0 1px 0 rgba(9, 30, 66, .25);
    }
}

.task-preview {
    overflow: hidden;
    padding: 6px 8px 2px;
    position: relative;
    z-index: 10;
}

.task-title {
    display: block;
    margin: 0 0 .5rem;
    overflow: hidden;
    text-decoration: none;
    word-wrap: break-word;
    color: #172b4d;
}

.tag-preview {
    height: .5rem;
    width: 1.5rem;
    border-radius: 3px;
    margin-right: 4px;
    &.blue-tag {
        background-color: $clrTag1;
    }
    &.orange-tag {
        background-color: $clrTag2;
    }
    &.yello-tag {
        background-color: $clrTag3;
    }
    &.green-tag {
        background-color: $clrTag4;
    }
    &.red-tag {
        background-color: $clrTag5;
    }
}