.task-details {
    background-color: #f4f5f7;
    border-radius: 3px;
    overflow: hidden;
    position: absolute;
    width: 768px;
    z-index: 50;
    margin-top: 10rem;
    align-self: center;
    padding: 1.5rem 1.5rem;
    color: #222222;
    section {
        margin: 1rem 0 0 0;
        h3 {
            margin-left: .7rem;
        }
    }
    .task-mid-info{
        width:80%;
    }
    .task-tags{
        align-items: center;
        margin-right:4rem; 
        .tag-preview{
            width: 2.5rem;
            height: .7rem;
            margin-right:.5rem; 
            
        }
    }
    .due-date{
        span{
            margin-left:1.7rem; 
        }
    }
    .due-date-header{
        margin-bottom: 8px;
    }
}

.preview-header {
    position: relative;
    z-index: 1;
    h1{
        cursor: pointer;
        outline-color:#67b4a2;  
        font-weight: 900;
        font-size: 1.4rem;
    }
    .exit-btn{
    &:hover{
        cursor: pointer;
        color:#d05555;
        }
    }
}

.preview-main {
    width: 72%;
}
.description {
    margin-top: 0.5rem;
    span{
        margin-left:1.7rem; 
        outline-color:#67b4a2; 
    }
    .description-header{
        margin-bottom:.5rem; 
    }
}

.preview-sidebar {
    width: 25%;
    overflow: hidden;
    position: relative;
    z-index: 10;
    h3 {
        font-size: .8rem;
        margin-top: 1.5rem;
        margin-left: .3rem;
    }
    span {
        margin-left: 0.5rem;
    }
    .prev-side-btn {
        background-color: rgba(19, 19, 19, 0.04);
        border-radius: 3px;
        cursor: pointer;
        display: block;
        height: 32px;
        margin-top: .6rem;
        max-width: 300px;
        // overflow: hidden;
        padding: 6px 12px;
        position: relative;
        text-decoration: none;
        text-overflow: ellipsis;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        white-space: nowrap;
        transition-property: background-color, border-color, box-shadow;
        transition-duration: 85ms;
        transition-timing-function: ease;
        &:hover {
            border-bottom: .5px solid #66799b
        }
        .mini-menu {
            cursor: default;
            position: fixed;
            z-index: 20;
            background-color: #fff;
            border-radius: 3px;
            box-shadow: 0 8px 16px -4px rgba(9, 30, 66, .25), 0 0 0 1px rgba(9, 30, 66, .08);
            overflow: hidden;
            padding: 1rem;
            color: #172b4d;
            width: 20rem;
            .mini-menu-header {
                color: #5e6c84;
                line-height: 40px;
                border-bottom: 1px solid rgba(9, 30, 66, .13);
                margin: 0 12px 1rem;
                overflow: hidden;
                padding: 0 32px;
                position: relative;
                text-overflow: ellipsis;
                white-space: nowrap;
                z-index: 1;
                align-self: center;
            }
            h3 {
                font-weight: 900;
                font-size: 1rem;
                margin: 0
            }
            input {
                width: 70%;
                border: none;
                border-bottom: .5px solid #172b4d;
                padding: 0rem .5rem 1px;
                outline: none;
                margin-left: .75rem;
                font-size: 1rem;
            }
            button {
                margin-top: 1.5rem;
                font-weight: 600;
                font-size: 1rem;
                background: none;
                border-radius: 3px;
                padding: .5rem;
                cursor: pointer;
                color: #172b4d;
                border: 2px solid rgba(9, 30, 66, .13);
                &:hover {
                    border: 2px solid lightgreen;
                }
            }
        }
    }
    .checklist-menu {
        top: 22.05rem;
    }
    .duedate-menu {
        top: 24.7rem;
    }
    .img-menu {
        top: 27.35rem;
    }
    .tags-menu {
        top: 19.5rem;
        .selected-tag::before {
            content: "\2713"
        }
        .tag {
            width: 90%;
            height: 2rem;
            margin-bottom: .4rem;
            display: block;
            border-radius: 3px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            padding-right: .3rem;
            cursor: pointer;
            color: #f4f5f7;
            font-size: 1.6rem;
        }
        .blue-tag {
            background-color: $clrTag1;
            &:hover {
                box-shadow: -10px 0 rgba(72, 72, 255, 0.6);
            }
        }
        .orange-tag {
            background-color: $clrTag2;
            &:hover {
                box-shadow: -10px 0 rgba(255, 166, 0, 0.6);
            }
        }
        .yellow-tag {
            background-color: $clrTag3;
            &:hover {
                box-shadow: -10px 0 rgba(255, 238, 8, 0.5);
            }
        }
        .green-tag {
            background-color: $clrTag4;
            &:hover {
                box-shadow: -10px 0 #11cb21c5;
            }
        }
        .red-tag {
            background-color: $clrTag5;
            &:hover {
                box-shadow: -10px 0 #f82e2eb4;
            }
        }
    }
}

.remove-checklist {
    display: none;
    margin-left:1.5rem;  
}

.checklist-container {
    width: 100%;
    p {margin: 0;}
    margin-bottom: 1rem;
    .checklist-header {
        align-items: baseline;
        margin-bottom: 8px;
        &:hover {
            .remove-checklist {
                display: block;
                cursor: pointer;
                &:hover {
                    color: #d05555
                }
            }
        }
    }
    .checklist-main{
        margin-left: 1.5rem;
        width:100%;
        input{
            background: none;
            border: none;
            border-bottom: 1px solid #172b4d;
            padding: 0rem .5rem 1px;
            outline: none;
            margin-left: .5rem;
            font-size: 1rem;
        }
        .checklist-list{
            width: 92%;
            // margin-bottom: .2rem;
            padding: .1rem .4rem;
           
            &:hover{
                background-color: #fff;
                border-radius:3px; 
                .remove-checklist-item{
                    display: block;
                }

            }
            input{
                margin: 0;
                margin-right:.5rem; 
            }
        }
        .add-todo{
            margin-top: 1rem;

            span{
                border: 1.4px solid #172b4d;
                border-radius: 3px;
                color: #172b4d;
                padding:0 .3rem;
                margin-left:1rem; 
                cursor: pointer;
                font-size: .9rem;
            }
        }
    }
}
.active {
    text-decoration: line-through;
}

.icon {
    color: rgb(66, 66, 66);
    &.remove-checklist-item{
        display: none;
        &:hover{
            cursor: pointer;
            color:#d05555;
        }

    }
}