.topic-wraper {
    width: 15.5rem;
    margin: 1rem 1rem;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    &:hover{
        .topic-title{
            font-weight: 900;
            cursor: pointer;
            outline-color:#67b4a2; 
        }
    }
    .task-composer {
        padding: 0rem .9rem 0rem;
        p {
            margin: 0;
            padding: .4rem 0 .5rem;
            padding-right:.5rem; 
            margin-bottom:.5rem;
            color: #0a1e3f;
            border-radius: 3px;
            span {font-size: 1.5rem; margin-left:.5rem; }
            &:hover {
                cursor: pointer;
                font-weight: 900;
                font-size: 1rem;
                background-color: aliceblue;
                span{
                    color: #44ae3e;
                }
            }
        }
        .exit-btn {
            cursor: pointer;
            margin-left: 1.3rem;
            font-size: 1.5rem;
            &:hover{color: #d05555}

        }
        .task-composer{
            width: 15.5rem;
            border-radius: 3px;
            margin-bottom: .5rem;
            position: relative;
            
        }
        .add-task-title{
            width: inherit;
            max-height: 162px;
            min-height: 25px;
            margin:.85rem 0; 
            input{
                width: 11rem;
                height: 2.2rem;
                border: none;
                border-radius: 3px;
                padding-left:.7rem; 
                font-size: 1rem;
                font-family: 'Muli', sans-serif;
                outline-color:#67b4a2; 
                box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
            }

        }
    }
}
.topic-content {
    background-color: rgba(228, 235, 234, 0.596);
    border-radius: 5px;
    max-height: 100%;
    white-space: normal;
    position: relative;
    
}

.topic-content-header {
    margin: 10px;
    padding: 0 .5rem;
}

.topic-mini-menu {
    cursor: default;
    position: absolute;
    z-index: 20;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    padding: 1rem;
    width: 12rem;
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, .25), 0 0 0 1px rgba(9, 30, 66, .08);
    >*{
        cursor: pointer;
        font-weight: 600;
        padding:0 .5rem; 
        &:hover{
            transition: all .2s ease;
            border-radius: 3px;
            box-shadow:-2.5px 0 0 rgb(103, 180, 162),2.5px 0 0 rgb(103, 180, 162);
        }
        &:not(:last-child){
            margin-bottom:.5rem; 
        }
    }
    .light-blue:hover{
        transition: all .2s ease-in-out;
        box-shadow:-2.5px 0 0 rgb(119, 124, 123),2.5px 0 0 rgb(119, 124, 123);
    }
    .light-red:hover{
        transition: all .2s ease-in-out;
        box-shadow:-2.5px 0 0 rgb(119, 124, 123),2.5px 0 0 rgb(119, 124, 123);
    }
    .light-green:hover{
        transition: all .2s ease-in-out;
        box-shadow:-2.5px 0 0 rgb(119, 124, 123),2.5px 0 0 rgb(119, 124, 123);
    }
    .light-pink:hover{
        transition: all .2s ease-in-out;
        box-shadow:-2.5px 0 0 rgb(119, 124, 123),2.5px 0 0 rgb(119, 124, 123);
    }
    .light-yellow:hover{
        transition: all .2s ease-in-out;
        box-shadow:-2.5px 0 0 rgb(119, 124, 123),2.5px 0 0 rgb(119, 124, 123);
    }
    .light-gray:hover{
        transition: all .2s ease-in-out;
        box-shadow:-2.5px 0 0 rgb(119, 124, 123),2.5px 0 0 rgb(119, 124, 123);
    }
    .none:hover{
        transition: all .2s ease-in-out;
        box-shadow:-2.5px 0 0 rgb(119, 124, 123),2.5px 0 0 rgb(119, 124, 123);
    }
    .none{justify-content: center}
}

.topic-color  {
    height: 22px;
    border: none;
    border-radius: 2px;
    margin: 2px;
    text-align: center;
    &.light-blue{background-color: rgba(173, 216, 230, 0.8);}
    &.light-red{background-color: rgba(240, 128, 128, 0.8);}
    &.light-green{background-color: rgba(187, 229, 220, 0.74);}
    &.light-pink{background-color: rgba(255, 182, 193, 0.8);}
    &.light-yellow{background-color: rgba(255, 255, 224, 0.9);}
    &.none{background-color:rgba(228, 235, 234, 0.596);}
}

.confirmation-modal{
    p{text-align: center;}
    .confirm-btn{
        border: 1px solid black;
        background-color: whitesmoke;
        &:hover{
            background-color: rgb(231, 231, 231);
            cursor: pointer;
        }
    }
    .cancel-btn{
        border: 1px solid black;
        background-color: whitesmoke;
        &:hover{
            cursor: pointer;
            background-color: rgb(231, 231, 231);
        }
    }
}

.add-topic{
    p{padding-bottom:.2rem; }
    cursor: pointer;
    height: 3rem;
    width: 14rem;
    margin-top:1rem; 
    background-color: rgba(0,0,0,.4);
    color: aliceblue;
    border-radius: 5px;
    max-height: 100%;
    font-weight: 900;
    white-space: normal;
    position: relative;

    span {font-size: 1.5rem; margin:0 1rem; }
    input{
        margin-left: .5rem;
        margin-right: 1rem;
        height: 2rem;
        font-size: 1.1rem;
        width: 10rem;
        outline: none;
        border: none;
        border-radius:3px;
        padding-left:.5rem;  
        color:#172b4d;

    }
    &:hover{
        background-color: rgba(0,0,0,.6);
        
    }
}
    

