
.topic-wraper{
    width: 15.5rem;
    margin: 1rem 1rem;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}
.topic-content{
    background-color: #ebecf0;
    border-radius: 3px;
    max-height: 100%;
    position: relative;
    white-space: normal;
}

