::-webkit-scrollbar {
  width: 0px;
  height: 2.5rem;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
::-webkit-resizer{
 
}
// ::-webkit-scrollbar-button{
//   background: linear-gradient(to top, rgba(226, 226, 226, 0) 0%, rgba(209, 209, 209, 0) 0%, rgba(11, 44, 36, 0.8) 0%, rgba(254, 254, 254, 0.125) 100%);

// }
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, rgba(226, 226, 226, 0) 0%, rgba(209, 209, 209, 0) 0%, rgba(11, 44, 36, 0.8) 0%, rgba(254, 254, 254, 0.125) 100%);
  border-radius: 5px;
}

.app {
  position: relative;
  color: #0a1e3f;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
  > * {
    position: relative;
  }
}

.board-container {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  .topics-container {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    // padding-bottom:17px;
    box-sizing: content-box; 
    white-space: nowrap;
    
  }
}

.logo-home-page {
  width: 10rem;
}

.logo {
  width: 2.4rem;
  cursor: pointer;
}

.main-app-container {
  background-color: rgb(211, 211, 211);
  .main-content-container {
    background-color: rgb(228, 228, 228);
    margin: 0 auto;
    width: 90%;
    height: 100%;
    padding: 5rem;
    h1 {
      text-align: center;
      margin-bottom: 5rem;
    }
    input {
      display: block;
      margin: 0 auto;
      margin-bottom: 5rem;
      width: 50%;
      border: none;
      border-bottom: 0.5px solid #949494;
      padding: 0rem 0.5rem 1px;
      outline: none;
      font-size: 1rem;
      text-align: center;
    }
    .add-board-container {
      min-width: 18rem;
      min-height: 15rem;
      .add-board-btn {
        padding: 1rem;
        margin-top: 1rem;
        margin-left: 4rem;
        margin-bottom: 1rem;
        width: 10rem;
        height: 10rem;
        background-color: azure;
        border-radius: 3px;
        &:hover {
          cursor: pointer;
          background-color: rgb(63, 219, 123);
        }
      }
    }
  }
  .my-boards-header {
    background-image: url(../assets/img/boards-page-hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 25rem;
    margin-bottom: 2rem;
    h1{
        color: white;
        font-size: 5rem;
    }
  }
}

.add-board-modal {
  width: 30rem;
  height: 20rem;
  background-color: rgb(238, 238, 238);
  input {
    margin: 0;
    width: 85%;
    border: none;
    border-bottom: 0.5px solid #242424;
    padding: 0rem 0.5rem 1px;
    outline: none;
    margin-left: 0.75rem;
    font-size: 1rem;
    text-align: center;
    background-color: rgb(238, 238, 238);
  }
}
