// Container

.container {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    @include for-normal-layout {
        max-width: $break-narrow;
    }
    @include for-wide-layout {
        max-width: $break-normal;
    }
}

// Grids

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 2rem;

    > * {
        // background:url(../assets/item-bgc.jpg) no-repeat;
        background-size: 100%;
        border-radius: 10px;
        p{
            transition: all .3s ease-in-out;
        }
        &:hover {
            p{
                color: darken($clr2,40%);
            }
        }
    }

    .toy-tag {
        margin-top: 5rem;
        margin-left:5rem; 
        flex-direction: column;
        align-items: flex-start;
        font-size: rem(21px);
        padding: 1rem 2rem;
        text-transform: capitalize;
        p{
            margin: 0;
            margin-bottom: .2rem;
        }
        p.type{
            color:darken($clr4,50%);
            padding-left:.4rem; 
            font-size: 1rem;
            
        }
    }
}

.form{
    height: 69vh;
    width: 100%;
    font-size: 2rem;
    margin-top:2rem; 
    input{
        color: darken($clr1,30%);
        outline: none;
        font-size: 1.8rem;
        width: 90%;
        margin:.5rem 1rem; 
        background: none;
        border: none;
        border-left: 3px solid darken($clr2,20%);
        padding: .5rem;
    }
}
.edit-buttons{
    align-self: center;
    button{
        background: none;
        font-size: 2rem;
        border: none;
        margin-bottom:3rem; 
        margin-right:1rem; 
        cursor: pointer;
        border-bottom: 3px solid darken($clr4,20%);
        transition: all .3s ease-in-out;
        &:hover{
            border-bottom: 3px solid darken($clr2,20%);

        }
    }
}


  