/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
background: rgba(248, 248, 248, 0.7);
}
/* Handle */
::-webkit-scrollbar-thumb {
background: rgba(102, 102, 102, 0.7);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgba(71, 71, 71, 0.7);
}

.app {
  position: relative;
  color: #0a1e3f;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
  > * {
    position: relative;
  }
}

.board-container{
    width: 100vw;
    height: 100vh;   
    .topics-container{
        width: 100%;
        height: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }
}


.logo-home-page{
  width:10rem;
}
.logo{
  width:2.4rem;
  cursor: pointer;
}

.main-app-container{
  background: url(../assets/img/abstract-painting.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
  .main-content-container{
    padding: 5rem;
    
    h1{
      text-align: center;
      color: white;
    }
  }
}
