
// COLOR PALETTE
//SITE
$clr1: #d3d3d3;
$clr2: #ffc5a1;
$clr3: #00c482;
$clr4: #f6f5edbe;
$clr5: #fff;
//TAGS
$clrTag1:#4040e2;
$clrTag2:#ffa600ed;
$clrTag3:rgb(248, 232, 7);
$clrTag4:#22b62e;
$clrTag5:#f82e2e;

// LAYOUT BREAKPOINTS

$break-narrow: 740px;
$break-normal: 960px;
$break-wide: 1280px;


